<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-lg-4 col-md-12"><h2>所属者一覧(<%= @team.name %>)</h2></div>
  <div class="col-lg-6 col-md-0"></div>
  <div class="col-lg-2 col-md-12"><%= link_to "チーム一覧へ", teams_path, class: "btn btn-outline-primary" %></div>
</div>

<%= search_form_for @q, url: team_path(@team), method: :get do |f| %>
  <div class="form-group">
    <%= f.label :name_cont, "氏名" %>
    <%= f.search_field :name_cont, class: "form-control" %>
  </div>
  <%= f.submit "検索", class: "btn btn-primary" %>
  <%= link_to "クリア", team_path(@team), class: "btn btn-danger" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, '氏名') %></th>
    </tr>
  </thead>
  <tbody>
    <% @nurses.each do |nurse| %>
      <tr>
        <td><%= link_to_if nurse.name, nurse.name, nurse %></td>
      </tr>
    <% end %>
  </tbody>
</table>