<div id="<%= dom_id assignment %>">
  <p>
    <strong>Date:</strong>
    <%= assignment.date %>
  </p>

  <p>
    <strong>Nurse:</strong>
    <%= assignment.nurse_id %>
  </p>

  <p>
    <strong>Shift type:</strong>
    <%= assignment.shift_type_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= assignment.state %>
  </p>

</div>
