<%= form_with(model: assignment) do |form| %>
  <% if assignment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nurse_id, style: "display: block" %>
    <%= form.text_field :nurse_id %>
  </div>

  <div>
    <%= form.label :shift_id, style: "display: block" %>
    <%= form.text_field :shift_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
