<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-lg-4 col-md-12"><h2>シフト (<%= @month.strftime("%Y-%m") %>)</h2></div>
  <div class="col-lg-6 col-md-0"></div>

</div>
<%= link_to "←", assignments_path(month: (@month <<1).strftime("%Y%m")) %>
<%= link_to "→", assignments_path(month: (@month >>1).strftime("%Y%m")) %>

<div id="assignments">
  <% @assignments_by_nurse = @assignments.group_by(&:rails_nurse_id) %>
  <% assignment_table = {} %>
  <% @assignments.each do |assignment| %>
    <% date = assignment.date %>
    <% nurse = assignment.rails_nurse %>
    <% name = assignment.shift_type.name %>
    <% name_abbrev = name[0] %>
    <% unless assignment_table[nurse.id] %>
      <% assignment_table[nurse.id] = {} %>
    <% end %>
    <% assignment_table[nurse.id][date] = name_abbrev %>
  <% end %>

  <table border="1" oncontextmenu="return false;">
    <th>
      <% (@month...(@month >> 1)).each do |date| %>
        <td class="right-align"><%= date.strftime("%d") %></td>
      <% end %>
      <td class="right-align"><%= "日" %></td>
      <td class="right-align"><%= "準" %></td>
      <td class="right-align"><%= "深" %></td>
      <td class="right-align"><%= "休" %></td>
    </th>
    <% RailsNurse.all.each do |nurse| %>
      <tr>
        <th class="left-align"><%= link_to_if nurse.name, nurse.name, nurse %></th>
        <% nurse_assignments = @assignments_by_nurse[nurse.id] || [] %>
        <% (@month...(@month >> 1)).each do |date| %>
          <% assignment = nurse_assignments.find { |a| a.date == date } %>
          <% shift_name = assignment&.shift_type&.name&.first || "休" %>
          <td class="right-align" id="shift_type"><%= shift_name %></td>
        <% end %>
        <td class="right-align"><%= @nurse_shift_counts[nurse.id]["日勤"] %></td>
        <td class="right-align"><%= @nurse_shift_counts[nurse.id]["準夜勤"] %></td>
        <td class="right-align"><%= @nurse_shift_counts[nurse.id]["深夜勤"] %></td>
        <td class="right-align"><%= ((@month >> 1) - @month).to_i - @nurse_shift_counts[nurse.id].values.sum %></td>
      </tr>
    <% end %>
  </table>
</div>

<script>
const shift_type_el = document.querySelectorAll("#shift_type");
const shift_type_lists = ["日","準","深","休"];


for(let i = 0; i < shift_type_el.length; i++){
  shift_type_el[i].addEventListener("contextmenu",function(){
    for(let j = 0; j < shift_type_lists.length; j++){
      if(shift_type_el[i].textContent == shift_type_lists[j]){
        const next_shift_type = shift_type_lists[(j+1)%shift_type_lists.length];
        console.log(next_shift_type);
        shift_type_el[i].textContent = next_shift_type;
        
        break;
      }
    }
  });
}

</script>
