<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-lg-4 col-md-12"><h2>シフト (<%= @month.strftime("%Y-%m") %>)</h2></div>
  <div class="col-lg-4 col-md-0"></div>
  <div class="col-lg-2 col-md-12"><%= link_to "#{@month.strftime("%Y")}年#{@month.strftime("%m")}月の勤務表作成", create_assignment_path(month: (@month).strftime("%Y%m")), class: "btn btn-outline-primary" %></div>
  <div class="col-lg-2 col-md-12"><%= link_to "AUK ファイルをダウンロード", auk_download_path, class: 'btn btn-primary' %></div>
</div>
<%= link_to "←", assignments_path(month: (@month <<1).strftime("%Y%m")) %>
<%= link_to "→", assignments_path(month: (@month >>1).strftime("%Y%m")) %>

<div id="assignments" data-turbo-frame="assignments">
  <% assignment_table = {} %>
  <% week = ["日","月","火","水","木","金","土"] %>
  <% shifts = {@shift_names.first => "bg-day", @shift_names.second => "bg-sem", @shift_names.third => "bg-ngt"} %>
  <% shift_classes = {"日" => @shift_names.first.first, @shift_names.second.first => "sem", @shift_names.third.first => "ngt"} %>
  <% @assignments.each do |assignment| %>
    <% date = assignment.date %>
    <% nurse = assignment.rails_nurse %>
    <% if assignment.shift_type.nil? %>
      <% unless assignment_table[nurse.id] %>
        <% assignment_table[nurse.id] = {} %>
      <% end %>
        <% assignment_table[nurse.id][date] = {} %>
    <% else %>
      <% unless assignment_table[nurse.id] %>
        <% assignment_table[nurse.id] = {} %>
      <% end %>
      <% assignment_table[nurse.id][date] = assignment.shift_type.name.first %>
    <% end %>
  <% end %>

  <table oncontextmenu="return false;">
    <caption>
      <%= @month.strftime("%Y") %>年度<%= @month.strftime("%m") %>月勤務表
    </caption>
    <tr>
      <th class="right"></th>
      <% (@month...(@month >> 1)).each do |date| %>
        <% if HolidayJp.holiday?(date) || date.wday == 6 || date.wday == 0 %>
          <th class="center-align bg-holidays"><%= date.strftime("%d") %></th>
        <% else %>
          <th class="center-align"><%= date.strftime("%d") %></th>
        <% end %>
      <% end %>
      <th class="center-align bg-sem"><%= @shift_names.second.first %></th>
      <th class="center-align bg-ngt"><%= @shift_names.third.first %></th>
      <th class="center-align bg-semngt"><%= "夜" %></th>
      <th class="center-align bg-day"><%= @shift_names.first.first %></th>
      <th class="center-align bg-off"><%= @shift_names.fourth.first %></th>
      <th class="center-align"><%= "未" %></th>
    </tr>
    <tr>
      <td class="right bottom"></td>
      <% (@month...(@month >> 1)).each do |date| %>
        <% if HolidayJp.holiday?(date) || date.wday == 6 || date.wday == 0 %>
          <td class="center-align bg-holidays bottom"><%= week[date.wday] %></td>
        <% else %>
          <td class="center-align bottom"><%= week[date.wday] %></td>
        <% end %>
      <% end %>
      <td class="center-align bg-sem bottom"></td>
      <td class="center-align bg-ngt bottom"></td>
      <td class="center-align bg-semngt bottom"></td>
      <td class="center-align bg-day bottom"></td>
      <td class="center-align bg-off bottom"></td>
      <td class="center-align bottom"></td>
    </tr>

    <% @nurses.each do |nurse| %>
      <% nurse_assignments = nurse.assignments || [] %>
      <% next if nurse_assignments.blank? %>
      <% if nurse_assignments.any?{|a| @date_range.cover?(a.date)} %>
        <tr>
          <td class="left-align right" width="10%"><%= link_to_if nurse.name, nurse.name, nurse %></td>
          <% (@month...(@month >> 1)).each do |date| %>
            <% assignment = nurse_assignments.find { |a| a.date == date } %>
            <% shift_name = assignment&.shift_type&.name&.first %>
            <% shift_class = shift_classes[shift_name] %>
            <% if HolidayJp.holiday?(date) || date.wday == 6 || date.wday == 0 %>
              <td class="center-align <%= shift_class %> bg-holidays" id="shift_type" data-controller="update_shifts" data-action="contextmenu->update_shifts#changeShiftType"><%= shift_name %></td>
            <% else %>
              <td class="center-align <%= shift_class %>" id="shift_type" data-controller="update_shifts" data-action="contextmenu->update_shifts#changeShiftType"><%= shift_name %></td>
            <% end %>
          <% end %>
          <td class="right-align bg-sem"><%= @nurse_shift_counts[nurse.id][@shift_names.second] %></td>
          <td class="right-align bg-ngt"><%= @nurse_shift_counts[nurse.id][@shift_names.third] %></td>
          <td class="right-align bg-semngt"><%= @nurse_shift_counts[nurse.id][@shift_names.second] + @nurse_shift_counts[nurse.id][@shift_names.third] %></td>
          <td class="right-align bg-day"><%= @nurse_shift_counts[nurse.id][@shift_names.first] %></td>
          <td class="right-align bg-off"><%= @nurse_shift_counts[nurse.id][@shift_names.fourth] %></td>
          <td class="right-align"><%= ((@month >> 1) - @month).to_i - @nurse_shift_counts[nurse.id].values.sum %></td>
        </tr>
      <% end %>
    <% end %>
    <% shifts.each do |shift| %>
      <tr>
        <td class="left-align <%= shifts[shift.first] %> right top">総<%= shift.first %>合計</td>
        <% (@month...(@month >> 1)).each do |date| %>
          <td class="right-align <%= shifts[shift.first] %> top"><%= @daily_shift_counts[date][shift.first] %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <table border="1">
    <% (-1..1).each do |year| %>
      <tr>
        <th><%= (Date.today.strftime("%Y").to_i + year).to_s %>年</th>
        <% (1..12).each do |month| %>
          <% month = month.to_s %>
          <% if month.length == 1 %>
            <% month = "0" + month %>
          <% end %>
          <td><%= link_to month + "月", assignments_path(month: ((Date.today.strftime("%Y").to_i + year).to_s + month)) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
