<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-lg-4 col-md-12"><h2>シフト (<%= @month.strftime("%Y-%m") %>)</h2></div>
  <div class="col-lg-6 col-md-0"></div>
  <div class="col-lg-2 col-md-12"><%= link_to "新規作成", new_assignment_path, class: "btn btn-outline-primary" %></div>
</div>

<%= link_to "←", assignments_path(month: (@month <<1).strftime("%Y%m")) %>
<%= link_to "→", assignments_path(month: (@month >>1).strftime("%Y%m")) %>

<div id="assignments">
  <% @assignments_by_nurse = @assignments.group_by(&:nurse_id) %>
  <% assignment_table = {} %>
  <% @assignments.each do |assignment| %>
    <% date = assignment.date %>
    <% nurse = assignment.nurse %>
    <% name = assignment.shift_type.name %>
    <% name_abbrev = name[0] %>
    <% unless assignment_table[nurse.id] %>
      <% assignment_table[nurse.id] = {} %>
    <% end %>
    <% assignment_table[nurse.id][date] = name_abbrev %>
  <% end %>

  <table border="1">
    <th>
      <% (@month...(@month >> 1)).each do |date| %>
        <td><%= date.strftime("%d") %></td>
      <% end %>
      <td><%= "日" %></td>
      <td><%= "準" %></td>
      <td><%= "深" %></td>
      <td><%= "休" %></td>
    </th>
    <% Nurse.all.each do |nurse| %>
      <tr>
        <td><%= link_to_if nurse.name, nurse.name, nurse %></td>
        <% nurse_assignments = @assignments_by_nurse[nurse.id] || [] %>
        <% (@month...(@month >> 1)).each do |date| %>
          <% assignment = nurse_assignments.find { |a| a.date == date } %>
          <% shift_name = assignment&.shift_type&.name&.first || "休" %>
          <td><%= shift_name %></td>
        <% end %>
        <td class="right-align"><%= @nurse_shift_counts[nurse.id]["日勤"] %></td>
        <td class="right-align"><%= @nurse_shift_counts[nurse.id]["準夜勤"] %></td>
        <td class="right-align"><%= @nurse_shift_counts[nurse.id]["深夜勤"] %></td>
        <td class="right-align"><%= ((@month >> 1) - @month).to_i - @nurse_shift_counts[nurse.id].values.sum %></td>
      </tr>
    <% end %>
  </table>
</div>
