<p style="color: green"><%= notice %></p>

<h1>Assignments (<%= @month.strftime("%Y-%m") %>)</h1>

<%= link_to "←", assignments_path(month: (@month <<1).strftime("%Y%m")) %>
<%= link_to "→", assignments_path(month: (@month >>1).strftime("%Y%m")) %>

<div id="assignments">
  <% assignment_table = {} %>
  <% @assignments.each do |assignment| %>
    <% date = assignment.date %>
    <% nurse = assignment.nurse %>
    <% name = assignment.shift_type.name %>
    <% name_abbrev = name[0] %>
    <% unless assignment_table[nurse.id] %>
      <% assignment_table[nurse.id] = {} %>
    <% end %>
    <% assignment_table[nurse.id][date] = name_abbrev %>
  <% end %>

  <table border="1">
    <th>
      <% (@month...(@month >> 1)).each do |date| %>
        <td><%= date.strftime("%d") %></td>
      <% end %>
    </th>
    <% Nurse.all.each do |nurse| %>
      <% assignment_table[nurse.id] ||= {} %>
      <tr>
        <td> <%= nurse.name %>
        <% (@month...(@month >> 1)).each do |date| %>
          <td><%= assignment_table[nurse.id][date] %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New assignment", new_assignment_path %>
