<% if flash[:color] == "red" %>
  <div class="red-text"><%= flash[:notice] %></div>
<% elsif flash[:color] == "green" %>
  <div class="green-text"><%= flash[:notice] %></div>
<% else %>
  <div><%= flash[:notice] %></div>
<% end %>

<%= render @assignment %>

<div>
  <%= link_to "Edit this assignment", edit_assignment_path(@assignment) %> |
  <%= link_to "Back to assignments", assignments_path %>

  <%= button_to "Destroy this assignment", @assignment, method: :delete %>
</div>
