<p style="color: green"><%= notice %></p>

<h1>Nurses</h1>

<%= link_to "Sort by Name", sort: "name" %>
<%= link_to "Sort by Team", sort: "teams.name" %>
<%= link_to "Sort by Ladder_level", sort: "ladder_level" %>

<div id="nurses">
  <% @nurses.each do |nurse| %>
    <%= render nurse %>
    <p>
      <%= link_to "Show this nurse", nurse %>
    </p>
  <% end %>
</div>

<%= link_to "New nurse", new_nurse_path %>
