<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-lg-4 col-md-12"><h2><%= @nurse.name %>のページ</h2></div>
  <div class="col-lg-6 col-md-0"></div>
  <div class="col-lg-2 col-md-12"><%= link_to "看護師一覧へ", nurses_path, class: "btn btn-outline-primary" %></div>
</div>

<div class="row my-3">
<div class="col-lg-3 col-md-6 d-flex align-items-center h5">ラダーレベル: <%= @nurse.ladder_level %></div>
<div class="col-lg-3 col-md-6 d-flex align-items-center h5">チーム: <%= @nurse.team_id %></div>
</div>

<%= link_to "←", nurse_path(@nurse.id, month: (@month <<1).strftime("%Y%m")) %>
<%= link_to "→", nurse_path(@nurse.id, month: (@month >>1).strftime("%Y%m")) %>

<div id="assignments">
  <% assignment_table = {} %>
  <% @assignments.each do |assignment| %>
    <% date = assignment.date %>
    <% nurse = assignment.nurse %>
    <% name = assignment.shift_type.name %>
    <% name_abbrev = name[0] %>
    <% unless assignment_table[nurse.id] %>
      <% assignment_table[nurse.id] = {} %>
    <% end %>
    <% assignment_table[nurse.id][date] = name_abbrev %>
  <% end %>

  <table border="1">
    <th>
      <% (@month...(@month >> 1)).each do |date| %>
        <td><%= date.strftime("%d") %></td>
      <% end %>
      <td><%= "日" %></td>
      <td><%= "準" %></td>
      <td><%= "深" %></td>
      <td><%= "休" %></td>
    </th>
    <% assignment_table[@nurse.id] ||= {} %>
    <tr>
    <td><%= link_to_if @nurse.name, @nurse.name, @nurse %></td>
      <% (@month...(@month >> 1)).each do |date| %>
        <% shift_name = assignment_table[@nurse.id][date] || "休" %>
        <td><%= shift_name %></td>
      <% end %>
    <td class="right-align"><%= @shift_type_counts["日勤"] %></td>
    <td class="right-align"><%= @shift_type_counts["準夜勤"] %></td>
    <td class="right-align"><%= @shift_type_counts["深夜勤"] %></td>
    <td class="right-align"><%= ((@month >> 1) - @month).to_i  - @total %></td>
    </tr>
  </table>
</div>