<% if flash[:color] == "red" %>
  <div class="red-text"><%= flash[:notice] %></div>
<% elsif flash[:color] == "green" %>
  <div class="green-text"><%= flash[:notice] %></div>
<% else %>
  <div><%= flash[:notice] %></div>
<% end %>

<h1>Shift types</h1>

<div id="shift_types">
  <% @shift_types.each do |shift_type| %>
    <%= render shift_type %>
    <p>
      <%= link_to "Show this shift type", shift_type %>
    </p>
  <% end %>
</div>

<%= link_to "New shift type", new_shift_type_path %>
