<% if flash[:color] == "red" %>
  <div class="red-text"><%= flash[:notice] %></div>
<% elsif flash[:color] == "green" %>
  <div class="green-text"><%= flash[:notice] %></div>
<% else %>
  <div><%= flash[:notice] %></div>
<% end %>

<%= render @shift_type %>

<div>
  <%= link_to "Edit this shift type", edit_shift_type_path(@shift_type) %> |
  <%= link_to "Back to shift types", shift_types_path %>

  <%= button_to "Destroy this shift type", @shift_type, method: :delete %>
</div>
