<!DOCTYPE html>
<html>
  <head>
    <title>ModernTimes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= link_to "Assignments", controller: "assignments", action: "index" %>
    <%= link_to "Nurses", controller: "nurses", action: "index" %>
    <%= link_to "Shifts", controller: "shifts", action: "index" %>
    <%= link_to "Teams", controller: "teams", action: "index" %>
    <%= yield %>
  </body>
</html>
